<div class="module">
  <p class="name">items.component</p>
  <form [formGroup]="form">
    <div>
      <label for="description">description</label>
      <br>
      <input type="text" formControlName="description" name="description">
    </div>
    <div>
      <label for="price">price</label>
      <br>
      <input type="text" formControlName="price" name="price">
    </div>
    <div>
      <label for="units">units</label>
      <br>
      <input type="text" formControlName="units" name="units">
    </div>
  </form>
  <div style="margin-bottom: 30px;  margin-top: 30px;">
    <button (click)="createItem()" style="margin-right: 5px;">add Item</button>
    <button (click)="saveInvoice()">generate Invoice</button>
  </div>

  <h5>items:</h5>
  <div style="max-height: 400px; overflow-y: scroll; border: 1px solid #000 ; margin-bottom: 30px;">
    <pre>{{ items | json }}</pre>

  </div>

</div>
